{% macro select_option(labels, names, wvrs) %}
    <div class="labels-column">
        {% for label in labels %}
            <div class="label-name">{{label}}</div>
        {% endfor %}
    </div>
    
    <div class="names-column">
        {% for name in names %}
            <select class="forminput wvr-select" name="{{name}}" style="visibility: hidden;">
                {% for wvr in wvrs %}
                    <option value="{{wvr}}">{{wvr}}.wvr</option>
                {% endfor %}
            </select>
        {% endfor %}
    </div>
{% endmacro %}


{% macro select_folder(labels, names) %}
    <div class="labels-column">
        {% for label in labels %}
            <div class="label-name">{{label}}</div>
        {% endfor %}
    </div>

    <div class="files-column hide">
        {% for name in names %}
            <div class="label-name">
                <span class="selected-file" id="{{name}}_file"></span>
            </div>
        {% endfor %}
    </div>
    
    <div class="names-column">
        {% for name in names %}
            <label for="{{name}}" class="folder-select" style="margin-bottom: 0px; margin-right: 10px;">
                <span class="label-text">
                    <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2895 8.95199V7.93612C15.2895 7.59247 15.0109 7.31389 14.6673 7.31389H9.57519V2.22183C9.57519 1.87819 9.29661 1.59961 8.95297 1.59961H7.93709C7.59345 1.59961 7.31487 1.87819 7.31487 2.22183V7.31389H2.22281C1.87916 7.31389 1.60059 7.59247 1.60059 7.93612V8.95199C1.60059 9.29563 1.87916 9.57421 2.22281 9.57421H7.31487V14.6663C7.31487 15.0099 7.59345 15.2885 7.93709 15.2885H8.95297C9.29661 15.2885 9.57519 15.0099 9.57519 14.6663V9.57421H14.6673C15.0109 9.57421 15.2895 9.29563 15.2895 8.95199Z"/>
                    </svg>
                    Select wvr
                </span>
                <input type="hidden" name="{{name}}_path" id="{{name}}_path" class="input-file" />
            </label>
        {% endfor %}
    </div>
{% endmacro %}

